* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #B1A296;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fcf8e8;
  border-radius: 20px;
  box-shadow: 0px 5px 20px #d3d3d3;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
  color: #f95738;
}

.post {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin-bottom: 20px;
}

.post h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #f95738;
}

.post p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #444;
  text-align: justify;
}

.post .author {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.post .date {
  font-size: 1rem;
  color: #666;
  margin-left: 10px;
}

.post .tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.post .tag {
  font-size: 1rem;
  color: #fff;
  background-color: #f95738;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.post img {
  width: 100%;
  margin-bottom: 20px;
}

.post h4 {
  margin-bottom: 15px;
}

.post .tag:last-child {
  margin-right: 0;
}
